<div class="container">
	<h3>Log in!</h3>
	<form action="/sessions" method="post">
	  <input type="text" name="email" placeholder="email"><br><br>
	  <input type="password" name="password" placeholder="password"><br><br	>
	  <input type="submit" value="login">
	</form>

<% if @error %>
	<p><%= @error %></p>
<% end %>
</div>