html {
	background: url(images/IMG_20151003_162507.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.container {
	margin: auto;
  width: 280px;
  padding: 20px 20px 20px 20px;
  border: 1px solid lightgray;
}

.top_navbar {
	display: block;
	float: left;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    background-color: lightgray;
}

/* Change the link color to #111 (black) on hover */
li a:hover {
    background-color: #111;
}

#map {
	align-content: center;
}