html {
	background: url(images/IMG_20151003_162507.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.container {
	margin: auto;
  width: 280px;
  padding: 20px 20px 20px 20px;
  border: 1px solid lightgray;
}

