<div class="container">
<p> <%= @error %> </p>
	<h3>create a new event!</h3>
	<form action="/event/new" method="post">
	  <input type="text" name="event_name" placeholder="event name"><br>
	  <input type="text" name="event_description" placeholder="event description"><br>
	  <input type="text" name="street" placeholder="street"><br>
	  <input type="text" name="city" placeholder="city"><br>
	  <input type="text" name="state" placeholder="state"><br>
	  <input type="text" name="postcode" placeholder="postcode"><br>
	  <input type="datetime-local" name="start_time" placeholder="start time"><br>
	  <input type="datetime-local" name="end_time" placeholder="end time"><br>
	  <input type="submit" value="submit">
	</form>
</div>