<div class="container">


  <div>
    <% @events.each do |event| %>
      <p><a href="/event/<%= event.id %>"><%=event.event_name %></a><br>near <%= event.city %> with <%=User.find(event.host_id).first_name %></p>
    <% end %>
  </div>

</div>

